# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.toast
.uncommitted

# Django
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak
venv.bak

# OS
.DS_Store
.DS_Store?
ehthumbs.db
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.swo
PRD.md